/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 5;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  text-align: center;
  align-content: center;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
h1{
    font-weight: bold;
    color: black;
}

button{
    margin: 20px;
    padding: 20px;
}

#console{
    padding: 30px;
    text-align: center;
}
#webcam{
    margin: auto;
}
#cambox{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: black;
    margin: auto;
}

#acounter{
    color: #4CAF50;
}

#bcounter{
    color: #008CBA;
}

#ccounter{
    color: #f44336;    
}

#class-a {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
#class-a:hover {
    background-color: #4CAF50;
    color: white;
}
  
#class-b {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
#class-b:hover {
    background-color: #008CBA;
    color: white;
}
  
#class-c {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
  
#class-c:hover {
    background-color: #f44336;
    color: white;
}

#link{
    background-color: darkslateblue;
    width: 300px;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    vertical-align: middle;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}




/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
